server=winlic.mkt.my.id:80
 
#bind#
WARNING!
[+] Activating Hardware ID Will Decrease Your Activation Limit (Bind Left)
[+] Make Sure Your Hardware And System Is Fully Prepared Before Doing This!
[+] For More Information, Visit https://bit.ly/bdstd21 Or Please Contact
    https://fb.com/bdstd21
 
Insert Your Credentials To Activation:
#end_bind#
 
#check#
Insert Your Credentials To Check Credentials Info:
#end_check#